@import "./config";

body {
  margin: 0;
  padding: 0;

  &.dark-theme{
    background: $VeryDarkBlue;
  }
}
.header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 35vh;
  grid-gap: 20rem;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 1rem 7rem 2rem 7rem;
  overflow: hidden;
  background: $LightGrayishBlue;

  &.dark-theme{
    background: $VeryDarkBlue;
    
  }

  &__head {
    h2 {
      font-size: 2rem;
      letter-spacing: 0.5px;
      overflow: hidden;
      color: $DarkGrayishBlue;
      margin-left: 5rem
    }
    p {
      overflow: hidden;
      font-size: 0.8rem;
      color: $DarkGrayishBlue;
    }
  }

  &__tail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1rem;
      color: $DarkGrayishBlue;
      font-weight: 600;
      margin: 13px 5px 0 6rem;
    }
    .toggle {
      margin: 13px 5px 0 5px;
      input[type="checkbox"] {
        display: none;

        &:checked ~ label {
          background: linear-gradient(to right, $Toggleg, $Toggleh);
          border-color: $LimeGreen;

          &::after {
            background-color: #fff;
            transform: translateX(34px);
          }
        }
      }

      label {
        background-color: $Toggle2;
        border: 2px solid $Toggle2;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        @include transition;
        width: 60px;
        height: 25px;

        &::after {
          background-color: $White;
          border-radius: 50%;
          content: "";
          cursor: pointer;
          display: inline-block;
          position: absolute;
          left: 1px;
          top: 1px;
          @include transition;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.articles-bg {
  width: 100vw;
  // ARTICLES
  .articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -3rem;
    width: 100vw;

    &__listone {
      background: $LightGrayishBlue;
      padding: 1rem 3rem 0 3rem;
      margin: 0 2rem 0 2rem;
      border-radius: 5px;
      border-top: 5px solid $Facebook;
      cursor: pointer;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

      &.dark-theme{
        background: $VeryDarkBlue;
        color: #fff;
      }

      &:hover {
        background: $Toggle2;
        @include transition;
      }

      .first {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          color: $DarkGrayishBlue;
          font-weight: bold;
          margin: 10px;
        }
      }

      .texts {
        h1 {
          font-size: 1.9rem;
          font-weight: 800;
          text-align: center;
        }
        .big {
          text-transform: uppercase;
          letter-spacing: 5px;
          text-align: center;
          overflow: hidden;
          color: $DarkGrayishBlue;
        }
      }
      .last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          font-weight: bold;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
    &__listtwo {
      background: $LightGrayishBlue;
      padding: 1rem 3rem 0 3rem;
      margin: 0 2rem 0 2rem;
      border-radius: 5px;
      border-top: 5px solid $Twitter;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      
      &.dark-theme{
        background: $VeryDarkBlue;
        color: #fff;
      }

      &:hover {
        background: $Toggle2;
        @include transition;
      }

      .first {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          color: $DarkGrayishBlue;
          font-weight: bold;
          margin: 10px;
        }
      }

      .texts {
        h1 {
          font-size: 1.9rem;
          font-weight: 800;
          text-align: center;
        }
        .big {
          text-transform: uppercase;
          letter-spacing: 5px;
          text-align: center;
          overflow: hidden;
          color: $DarkGrayishBlue;
        }
      }
      .last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          font-weight: bold;
          padding: 5px;
          cursor: pointer;
        }
      }
    }

    &__listthree {
      background: $LightGrayishBlue;
      padding: 1rem 3rem 0 3rem;
      margin: 0 2rem 0 2rem;
      border-radius: 5px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      border-top: 5px solid $Instagram;
      cursor: pointer;

      
      &.dark-theme{
        background: $VeryDarkBlue;
        color: #fff;
      }

      &:hover {
        background: $Toggle2;
        @include transition;
      }

      .first {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          color: $DarkGrayishBlue;
          font-weight: bold;
          margin: 10px;
        }
      }

      .texts {
        h1 {
          font-size: 1.9rem;
          font-weight: 800;
          text-align: center;
        }
        .big {
          text-transform: uppercase;
          letter-spacing: 5px;
          text-align: center;
          overflow: hidden;
          color: $DarkGrayishBlue;
        }
      }
      .last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          font-weight: bold;
          padding: 5px;
          cursor: pointer;
        }
      }
    }

    &__listfour {
      background: $LightGrayishBlue;
      padding: 1rem 3rem 0 3rem;
      margin: 0 2rem 0 2rem;
      border-radius: 5px;
      border-top: 5px solid $YouTube;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      
      &.dark-theme{
        background: $VeryDarkBlue;
        color: #fff;
      }

      &:hover {
        background: $Toggle2;
        @include transition;
      }

      .first {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          color: $DarkGrayishBlue;
          font-weight: bold;
          margin: 10px;
        }
      }

      .texts {
        h1 {
          font-size: 2rem;
          font-weight: 10rem;
          text-align: center;
        }
        .big {
          text-transform: uppercase;
          letter-spacing: 3px;
          text-align: center;
          overflow: hidden;
          color: $DarkGrayishBlue;
        }
      }
      .last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
          font-weight: bold;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.text {
  position: relative;
  z-index: 1;
  top: -2.5rem;
  margin-left: 10rem;
  color: $DarkGrayishBlue;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  position: relative;
  top: -2rem;

  .overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 2.5rem;
    align-items: center;
    padding: 0 40px 0 40px;

    &__list {
      background: $LightGrayishBlue;
      border-radius: 5px;
      margin: 2px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      width: 250px;
      cursor: pointer;

      &.dark-theme{
        background: $VeryDarkBlue;
        color: $White;
      }

      &:hover {
        background: $Toggle2;
        @include transition;
      }

      .first {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px 0 30px;

        p {
          color: $DarkGrayishBlue;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
      .last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px 0px 0px;

        .first {
          h2 {
            font-weight: 750;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

hr{
  display: none;
}
.green {
  color: $LimeGreen;
}
.red {
  color: $BrightRed;
}

@import "./responsive";
@import "./response";
